<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/website/static/style.css">
    <link rel="shortcut icon" href="../static/iconeCliente.png" type="image/x-icon">
    <title>Painel de controle</title>
</head>

<body id="painelCtrl">
    <header>
        <nav>
            <div class="flex">
                <img src="../static/iconeCliente.png" alt="">
                <h1 style="color: black; padding: 15px;">Painei de controle</h1>
            </div>
            <!-- <img src="{{ url_for('static', filename='bicicleta-de-entrega .png') }}" alt=""> -->
            <h1>Painel de Controle</h1>
            <ul>
                <li>Clientes cadastratos</li>
                <li>Pedidos em espera</li>
            </ul>
        </nav>
    </header>
    <ul>
        <section id="carrinho">
            <h2>Carrinhos de compras</h2>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </section>
        <section id="clientesCadastrados">
            <h2>Meus clientes</h2>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </section>
    </ul>
</body>

</html>