<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="shortcut icon" href="../static/iconeCliente.png" type="image/x-icon">
  <title>Sucesso</title>
</head>

<body>
  <div class="interface">
    <section>
      <h1 style="color: green;">
        Seu pedido está confirmado!
      </h1>
      <p>
        Seu ticket foi gerado com sucesso!
      </p>
      <h1>
        Envie o comprovante de pagamento para estabelimento para validar o seu pedido !
      </h1>
      <h2>
        Prazo de entrega estimado para sua região:
      </h2>
      <p style="display: flex; align-items: center; justify-content: center;">
        <picture id="despertador">
          <img src="{{ url_for('static', filename='despertador.png') }}" alt="" />
        </picture>
        40 a 120 minutos
      </p>
      <p>
        Acompanhe o status do seu pedido em tempo real pelo WhatsApp:
      </p>
<button style="background-color:darkgreen;">
  <a style="color: white;" href="https://api.whatsapp.com/send?phone=553499896614&text=Ola,%20acabei%20de%20fazer%20um%20pedido%20pelo%20site.%0APode%20confirmar%20pra%20mim%20por%20gentileza%20?">
    WhatsApp
  </a>
</button>
             </section>
  </div>
  <button>
    Fazer um novo pedido
  </button>
  <button>
    HOME
  </button>
  <footer>
    <picture>
      <p>
        Desenvolvido por
        <a style="color: gold;" href="https://www.instagram.com/ti.udia/" target="_blank">
          PK Produções
          <img src="iconsMoon.png" alt="" />
        </a>
      </p>
    </picture>
  </footer>
</body>

</html>